.footer{ 
	background-color:rgba(255, 195.0000035762787, 223.00000190734863, 1);
	height:41px;
	top:879px;
    position: absolute;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}